html,body{
    height: 100%;
}
section{
    height: 100%;
    width: 100%;
}
.canvas{
    margin: 0 auto;
    padding: em(50) 0 0;
    width: em(800);
}
a {
    color: $orange;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.game-title {
    color: $lightblue;
    font-family: 'Duckhunt';
    font-size: em(100);
}
.main-nav{
    margin: 0 auto;
    width: em(400); /* 800px */
}
